.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.2em;
}

.container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
}

.btnDel {
  margin-left: 5px;
  background: salmon;
  color: #fff;
  border: none;
  padding: 2px;
  cursor: pointer;
}

.formInput {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.formInput button {
  background: skyblue;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 7px 10px;
}

.formInput input[type='text'] {
  padding: 7px;
}